doctype html
html(lang="zh-TW")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		title 靠交 2.0
		link(rel="icon" type="image/png" href="/logo-192.png" sizes="192x192")
		link(rel="icon" type="image/png" href="/logo-128.png" sizes="128x128")
		link(rel="icon" type="image/png" href="/logo-96.png" sizes="96x96")
		link(rel="icon" type="image/png" href="/logo-64.png" sizes="64x64")
		link(rel="icon" type="image/png" href="/logo-32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="/logo-16.png" sizes="16x16")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="keywords" content="NCTU, 靠北交大, 靠交 2.0")
		meta(name="description" content="靠北交大 2.0")
		meta(property="og:title" content="靠交 2.0")
		meta(property="og:url" content="https://x.nctu.app/")
		meta(property="og:image" content="https://x.nctu.app/logo.png")
		meta(property="og:image:secure_url" content="https://x.nctu.app/logo.png")
		meta(property="og:image:type" content="image/png")
		meta(property="og:image:width" content="640")
		meta(property="og:image:height" content="640")
		meta(property="og:type" content="website")
		meta(property="og:description" content="靠北交大 2.0")
		meta(property="og:site_name" content="靠交 2.0")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(href="https://www.sean.taipei/assets/css/tocas-ui/tocas.css" rel="stylesheet")
	body
		div
			.row
				.col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8.col-lg-offset-3.col-lg-6
					h1 靠交 2.0
					p 給您一個沒有偷懶小編的靠北交大
					h2 社群平台
					ul
						li
							a(target="_blank" href="https://t.me/xNCTU")
								i.fa.fa-paper-plane
								|  Telegram
						li
							a(target="_blank" href="https://twitter.com/x_NCTU")
								i.fa.fa-twitter
								|  Twitter
						li
							a(target="_blank" href="https://www.facebook.com/xNCTU")
								i.fa.fa-facebook-square
								|  Facebook
						li
							a(target="_blank" href="https://www.plurk.com/xNCTU")
								i.fa.fa-user-plus
								|  Plurk
					h2 發文規則
					ol
						li
							| 攻擊性投稿內容不能含有姓名、暱稱等各種明顯洩漏對方身分的個人資料，請把關鍵字自行碼掉，例如王 XX、王學長。
							ul
								li 登入後具名投稿者，不受此條文之限制。
						li 含有性別歧視、種族歧視、人身攻擊、色情內容、不實訊息等文章，將由審核團隊衡量發文尺度。
						li 如果對文章感到不舒服、或是怕被發現是自己發的文想要刪文，請有禮貌的私訊審核團隊，並有合理的理由說服審核者，才會予以刪文。

					h2 審文規則
					p 新版靠交 2.0 採全自動審文，人人皆可申請加入審核團隊，以下是系統判斷方式
					h4 登入具名發文
					p 如在 5 分鐘內無「駁回」，免審核即自動發出
					h4 交大 IP 位址
					p 使用 113 位址發文者，達到以下三個條件即發出
					ul
						li 等待審核至少 10 分鐘
						li 累積至少 2 個「通過」
						li 「通過」多於「駁回」
					h4 使用台灣 IP 位址
					ul
						li 等待審核至少 30 分鐘
						li 30 分鐘至 2 小時：達到 5 個「通過」，並且「通過」多於「駁回」
						li 2 至 6 小時：達到 2 個「通過」，並且「通過」多於「駁回」
						li 6 至 12 小時：達到 1 個「通過」，並且「通過」多於「駁回」
						li 12 小時以後：只要「駁回」不多於「通過」即自動發出
					h4 境外 IP 位址
					ul
						li 等待審核至少 60 分鐘
						li 達到 10 個「通過」
						li 「通過」比「駁回」多兩倍
					h3 排程發文
					p 通過之文章將會進入發文佇列，每 5 分鐘 po 出一篇至各大社群平台，如欲搶先看也可申請加入審核團隊

					h2 現在開始
					.ts.fluid.stackable.buttons
						a.ts.massive.positive.button(href="/submit") 我要發文
						a.ts.massive.info.button(href="/review") 我想審核
					p
		footer.panel-footer
			center
				p
					| 由交大資工 112 級 
					a(target="_blank" href="https://www.sean.taipei/") Sean 韋詠祥
					|  開發設計
