html {
	height: 100%;
	min-height: 100%;
}

body {
	min-height: 100%;
}

header.ts.fluid.vertically.padded.heading.slate {
	font-size: 1.7em !important;
	color: #646464 !important;
	padding: 1.8em 2em 3em !important;
}

header.ts.fluid.vertically.padded.heading.slate+.ts.container {
	margin-top: 2em !important;
}

header .description {
	line-height: 1.2em;
}

nav.ts.menu > div {
	display: flex;
	flex-wrap: wrap;
}

nav.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 30 !important;
}

nav .item {
	border-radius: 0 0 3px 3px !important;
}

.ts.container[name=main] {
	padding-bottom: 80px;
}

.icon-row .ts.circular.image {
	margin-right: 4px;
}

footer {
	padding: 10px 0;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	position: absolute !important;
	width: 100%;
	bottom: 0;
}

button.vote {
	font-size: 0.9em !important;
	padding: 0.05em 0.3em !important;
}

/* Vote Table */
table.votes thead tr th:nth-child(1) { width: 32px;  }
table.votes thead tr th:nth-child(2) { width: 72px;  }
table.votes thead tr th:nth-child(3) { width: 140px; }
table.votes thead tr th:nth-child(4) { width: 160px; }
table.votes thead tr th:nth-child(5) { width: 320px; }

p {
	word-wrap: break-word;
}
